<ion-header>
  <ion-toolbar>
    <ion-title>测试网</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="div-preview">

  </div>

  <div class="div-button">
    <ion-row>
      <ion-col>
        <button class="button-circle" (click)="buttonDislikeClicked()">
          <ion-icon class="icon-circle" color="primary" name="close"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button class="button-circle" (click)="buttonLikeClicked()">
          <ion-icon class="icon-circle" color="primary" name="heart-empty"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button class="button-circle" (click)="buttonContactClicked()">
          <ion-icon class="icon-circle" color="primary" name="calculator"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>


  <!--<button ion-button>Button</button>-->



</ion-content>
